
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import "compass/css3";



 html, body{
    padding: 0;
    margin:0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-size: 100%;

    
}

/* Logo name with drop shadow */

.name-drop-shadow {     
    position: relative;   
    float: right;   
    top: 20px;
    right:50px;
    margin: 0;
    font-size:3em;
    font-family: 'Homemade Apple', cursive;  
    text-align:center;   
    letter-spacing: 5px;   
    color:#fff;   
    text-shadow: 
    /*  shadow around the text    */     
    -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000,  

    /*  drop shadow   */         
    1px 1px #000,2px 2px #000,3px 3px #000,4px 4px #000,5px 5px #000,6px 6px #000,7px
    7px #000,8px 8px #000,9px 9px #000,10px 10px #000
}



/*Navigation Bar*/
.fixed-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #fff;

}

/* Flex Container */

.flex-container {
  padding: 150px 20px 0px 20px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #FF9505;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}


@media screen and (max-width: 590px) {
    .flex-item {
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
    }

    .name-drop-shadow {
        font-size: 1.7em;
    }

    .flex-container {
        padding-top:100px;
    }
}

